<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 400px;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form class="new_track_form" name="new_track_form" action="/new_track" method="POST">
       	<input type="text" name="band" placeholder="Band...">
       	<br><br>
        <input type="text" name="content_url" placeholder="Sound Cloud URL...">
        <br><br>
       	<input type="text" name="avatar_url" placeholder="Avatar URL...">
       	<br><br>
       	<input type="text" name="artist_name" placeholder="Artist Name...">
        <br><br>
        <input type="text" name="artist_id" placeholder="Artist Id...">
        <br><br>
       	<nav class="navbar navbar-default navbar-fixed-bottom">
          	<div class="footbox">
             	<input class="submit-btn" type="submit" name="submit" value="Submit">
          	</div>
       	</nav>
    </form>
    <p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>
<p id="map"></p>
<script>
var x = document.getElementById("demo");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";}
    }
    
function showPosition(position) {
	var latitude = position.coords.latitude;
	var longitude = position.coords.longitude;
  x.innerHTML="Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
  initMap(latitude,longitude);

}
function initMap(latitude,longitude) {
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: latitude, lng: longitude},
    scrollwheel: false,
    zoom: 8
  });

  var marker = new google.maps.Marker({
    position: {lat: latitude, lng: longitude},
    map: map,
    animation: google.maps.Animation.DROP,
    title: 'My Location!'
  });
  marker.addListener('click', toggleBounce);

  function toggleBounce() {
	  if (marker.getAnimation() !== null) {
	    marker.setAnimation(null);
	  } else {
	    marker.setAnimation(google.maps.Animation.BOUNCE);
	  }
	}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEgBZqE59Q59F788Xd-oKno3vguJj8LnU&callback=initMap"
    async defer></script>
  </body>
</html>
